[submodule "3rdparty/nanovg"]
	path = 3rdparty/nanovg
	url = https://github.com/memononen/nanovg.git
[submodule "3rdparty/oxygine-framework"]
	path = 3rdparty/oxygine-framework
	url = https://github.com/oxygine/oxygine-framework.git

